.header-harm-index {
	background-color: white;
	color: black;
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: 400;
	padding-bottom: 1.3rem;
	padding-top: 1.2rem;
	border-radius: 4px;
}
.header-harm-index a {
	color: black;
}
.header-harm-index a:hover {
	color: darkslategrey;
}

.section-harm-list {
	background-color: white;
	color: black;
	font-size: 18px;
	font-weight: 400;
	border-radius: 4px;
}

.section-harm-index-info {
	background-color: white;
	color: black;
	font-size: 14px;
	border-radius: 4px;
	padding: 8px;
}

.harm-list-icon {
	float: left;
	font-size: 24px;
}

.harm-list-body {
	float: left;
	font-size: 18px;
	color: black;
}
.harm-list-body a {
	color: black;
}
.harm-list-body-end {
	float: left;
	font-size: 18px;
	color: darkgreen;
}
.harm-list-body-end > a {
	color: darkgreen;
}
.harm-list-body-end > a:hover {
	color: green;
}

.harm-list-body > a > div {
	font-size: 14px;
	font-weight: 200;
	color: black;
}
.harm-list-body-sub {
	font-size: 14px;
	color: black;
}

.harm-list-icon-right {
	float: right;
	padding-top: 12px;
	padding-bottom: 12px;
	letter-spacing: 1px;
}
.harm-list-icon-right-nof {
	padding-top: 12px;
	padding-bottom: 12px;
	letter-spacing: 1px;
}
.harm-list-icon-right-nof > a {
	color: black;
}
.harm-list-icon-right-nof > a:hover {
	color: darkslategrey;
}

.harm-list-icon-right > a {
	color: green;
}
.harm-list-icon-right > i {
	color: black;
}

.harm-list-item {
	padding: 12px 8px;
}

.harm-list-body a:hover {
	color: darkslategray;
}
.harm-add {
	background-color: white;
	color: black;
	padding: 16px;
	border-radius: 4px;
}
.trening-info {
	background-color: white;
	color: black;
	border-radius: 4px;
	padding: 8px;
}
.color-black {
	color: black;
}
.color-black i {
	color: black;
}
.color-black a:hover {
	color: darkslategray;
}
.color-white {
	color: white;
}
.color-white i {
	color: white;
}
.color-white a:hover {
	color: lightgray;
}
.section-start-header {
	background-color: white;
	color: black;
	font-size: 18px;
	font-weight: 400;
	border-radius: 4px 4px;
}
.section-start-body {
	background-color: white;
	color: black;
	font-size: 18px;
	font-weight: 400;
	border-radius: 4px 4px;
}
.link-start-collapse {
	color: black;
}
.link-start-collapse:hover {
	color: darkslategray;
}
.exercise-name {
	font-size: 22px;
	font-weight: 400;
}
.exercise-part {
	font-size: 14px;
	font-weight: 200;
}
.exercise-history {
	font-size: 16px;
}
